/* Color pallette: #E2E3DD #31312F #E5E1D8 #C5C5B9 #A09F8D*/
/*Structure*/
body {
    color-scheme: light;
    background-color: #E2E3DD;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#content{
    background: #A09F8D;
    padding: 5px;
    margin: 20px auto;
    width: 90%;
    border-radius: 5px;
    text-align: center;
}
footer {
    text-align: center;
}
#assignment_list section p img {
    width: 300px;
    height: 150px;
}
#assignment_list section {
    background-color: #C5C5B9;
    padding: 5px;
    margin: 1px;
    border-radius: 10px;
    display: inline-block;
}
/*Navigation*/
#assignment_list a, #project_list a {
    text-decoration: none;
    
    color: #31312F;
    padding: 5px;
    margin: 10px;
    border-radius: 2px;
}
#assignment_list a:hover {

    color: #E5E1D8;
}
#project_list section p img {
    width: 300px;
    height: 150px;
}
#project_list section {
    background-color: #C5C5B9;
    padding: 5px;
    margin: 1px;
    border-radius: 10px;
    display: inline-block;
}
#project_list a:hover {

    color: #E5E1D8;
}
/*Typography*/
h1 {
    color: #31312F;
}
h2{
    color: #31312F;
}
p{
    color: #31312F;
}
/*Larger Resolutions*/
@media (min-width: 600px) {
    #assignment_list {
        display: inline-flex;
    }
    #assignment_list section {
        flex: 1;
    }
    #project_list {
        display: inline-flex;
    }
    #project_list section {
        flex: 1;
    }
}