/*Structure*/

    :root {
        --color_garnet: #73000A;
        --color_black: #000000;
        --color_dark_grey: #222222;
        --color_grey: #5B5B5B;
        --color_light_grey_one: #7F7F7F;
        --color_light_grey_two: #ECECEC;
        --color_off_white: #DADADA;
        --color_white: #FFFFFF;
        --color_dark_garnet: #570008;
        --shadow_box: rgba(0, 0, 0, .3);
    }

    #top_usc_logo img {
        width: 180px;
        height: 40px;
    }

    body {
        background-color: var(--color_white);
        font-family: "Berlingske Sans", "Arial", sans-serif;
        font-weight: 500;
        color: var(--color_dark_grey);
        border: 0px;
        margin: 0px;
    }

/*Header*/

    /*Mobile Nav Menu*/

        #main_header {
            background-color: var(--color_black);
            border-bottom: 100px;
        }

        #top_usc_logo img {
            padding: 5px 0px 5px 15px;
        }

        #nav_mobile ul {
            list-style-type: none;
            padding: 0px;
            margin: 0px;
        }

        #nav_mobile li {
            border-top: 1px solid var(--color_light_grey_one);
        }

        #nav_mobile a {
            text-decoration: none;
            color: var(--color_white);
            font-weight: 800;
            padding: 15px 25% 15px 10px;
        }

        #top_nav_list_mobile li {
            padding: 15px 0px 15px 0px;
        }

        #nav_mobile h1 {
            background-color: var(--color_grey);
            color: var(--color_off_white);
            text-transform: uppercase;
            font-size: .6875em;
            margin: 0;
            padding: 7px 0px 7px 10px;
            font-weight: 800;
        }

        #bottom_nav_list_mobile li {
            padding: 7px 0px 7px 10px;
        }

/*Body*/
    
    /*Img*/

        #main_content img {
            padding-top: 5px;
            margin: 0px auto 0px auto;
            width: 100%;
        }

    /*Content One*/
        
        #content_one {
            padding-left: .9375em;
            padding-right: .9375em;
        }

        #content_header_one {
            color: var(--color_garnet);
            font-weight: 800;
            font-size: 70px;
            font-stretch: condensed;
            text-transform: uppercase;    
        }

        #content_intro_one {
            font-weight: 700;
            font-size: 21px;
            margin: 1rem 0px 2rem 0px;
            line-height: 1.8em;
        }

        #content_body_one {
            line-height: 1.8em;
        }

    /*Content Two*/

        #content_two {
            background-color: var(--color_garnet);
            color: var(--color_white);
            padding-bottom: 3rem;
        }

        #content_two img {
            display: block;
            margin: 0px auto 0px auto;
            padding-top: 4%;
            width: 95%;
        }

        #content_two h2 {
            font-weight: 800;
            line-height: 1.25rem;
            margin-left: 5%;
        }

        #content_two p {
            line-height: 1.8rem;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 5%;
        }

        #content_two a {
            background-color: var(--color_black);
            color: var(--color_white);
            text-decoration: none;
            font-weight: 800;
            margin-left: 5%;
            margin-bottom: 0px;
            padding: .75rem;
            border: 2px solid;
            border-color:  var(--color_white);
        }

    /*Content Three*/

        #content_three {
            background-color: var(--color_light_grey_two);
            padding-bottom: 10%;
            text-align: center;
        }
        
        #content_three h2 {
            margin: 0px 12% 5% 12%;
            color: var(--color_garnet);
            padding-top: 8%;
            font-weight: 800;
            font-size: 2.5em;
            text-transform: uppercase;
        }

        #content_three p {
            margin: 0px 8% 5% 8%;
            line-height: 1.8em;
        }

        #content_three a {
            background-color: var(--color_garnet);
            color: var(--color_white);
            text-decoration: none;
            font-weight: 800;
            padding: .75rem;
            border: 2px solid;
            border-color: var(--color_white);
        }

    /*Content Four*/

        #content_four {
            text-align: center;
        }

        #content_four h2 {
            font-weight: 700;
            color: var(--color_garnet);
            font-size: 3em;
            padding-top: 8%;
        }

        #content_four p {
            line-height: 2em;
            margin: 0px 8% 8% 8%;
        }

    /*Content Five*/

        #content_five {

        }

        #content_five img {
            display: block;
            margin: -20px auto 0px auto;
            padding: 0px;
            width: 100%;
            font-size: 0px;
        }

        #content_five ul {
            list-style-type: none;
            padding: 0px 2% 0px 2%;
            padding-top: 0px;
        }

        #content_five li {
            padding: 0px 0px 10% 0px;
            box-shadow: 2px 2px 5px var(--shadow_box);
            margin-bottom: 10px;
            list-style: none;
        }

        #content_five a {
            text-decoration: none;
            padding: 0px 5% 10%;
        }

        #content_five h3 {
            color: var(--color_garnet);
            padding-left: 3%;
            font-size: 1.27em;
        }

        #content_five p {
            color: var(--color_black);
            line-height: 1.6em;
            padding-left: 3%;
            padding-right: 10%;
        }

    /*Content Six*/

        #content_six {
            background-color: var(--color_black);
            color: var(--color_white);
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 2em;
            margin-top: 38px;
        }

        #content_six img {
            display: block;
            width: 400px;
            position: relative;
            top: -40px;
        }

        #content_six h2 {
            font-weight: 800;
            font-size: 1.5rem;
            margin-top: 0px;
            margin-bottom: 5%;
        }

        #content_six p {
            line-height: 1.8em;
            margin-bottom: 10%;
        }

        #content_six a {
            background-color: var(--color_garnet);
            color: var(--color_white);
            text-decoration: none;
            font-weight: 800;
            padding: .75rem;
            border: 2px solid;
            border-color: var(--color_white);
        }

    /*Footer*/

        footer {
            background-color: var(--color_garnet);
            color: var(--color_white);
            padding-top: 5%;
            text-align: center;
        }

        /*Logo*/

            #bottom_usc_logo img {
                width: 300px;
                margin: 0px auto 0px auto;
                display: block;
            }

        /*Social*/

            #social_links {
                list-style-type: none;
                display: inline-flex;
                justify-content: center;
                padding: 40px 0px 40px 0px;
            }

            .social_spacing {
                padding-right: 30%;
            }

            #social_links li {
                list-style: none;
            }


            #social_links a {
                text-decoration: none;
            }

        /*Main Footer*/

            #footer_main {
                text-align: left;
                margin: 0px .9375em 0px .9375em;
            }

            #footer_main h2 {
                border-bottom: 1px solid;
                border-color: var(--color_white);
                padding-bottom: .5em;
            }

            #footer_main ul{
                list-style-type: none;
                margin: 0px 0px 0px 0px;
                padding-left: 0px;
            }

            #footer_main li {
                padding-bottom: 5px;
                display: block;
            }

            #footer_main a {
                text-decoration: none;
                color: var(--color_white);
                line-height: 1.8;
                font-size: .85em;
            }

            #footer_main_one, #footer_main_two {
                display: flex;
                flex-wrap: wrap;
            }

            .footer_main_a, .footer_main_c, .footer_main_b {
                flex-basis: 50%;
            }

            .footer_main_b {
                order: 2;
            }
        
        /*Sub Footer*/

            #footer_sub {
                background-color: var(--color_black);
                padding: 3%;
                border-top: 1px solid;
                border-color: var(--color_white);
            }

            #footer_sub a {
                text-decoration: none;
                color: var(--color_white);
                padding: 0px 2% 0px 2%;
                font-size: .85em;
            }

            .border {
                border-right: 1px solid;
                border-color: var(--color_white);
            }

/*Larger Resolutions*/

    @media (max-width: 960px) {

        /*Desktop Nav Hide*/

            #top_nav_desktop, #bottom_nav_desktop {
                display: none;
            }
    }

    @media (min-width: 960px) {

        /*Mobile Nave Hide*/

            #nav_mobile {
                display: none;
            }

        /*Desktop Conversion*/

        /*Desktop Nav*/

            #top_nav_desktop, #bottom_nav_desktop {
                color: var(--color_white);
            }

            #top_nav_desktop ul, #bottom_nav_desktop ul {
                list-style-type: none;
            }

            #top_nav_desktop li, #bottom_nav_desktop li {
                display: inline-block;
            }

            #top_nav_desktop a, #bottom_nav_desktop a {
                text-decoration: none;
                color: var(--color_white);
            }

            #top_usc_logo img, #top_nav_desktop {
                display: inline-flex;
                padding: 0px;
                margin: 0px;
            }

            #top_usc_logo img {
                width: 310px;
                height: 60px;
                padding-top: 2em;
                padding-bottom: 1.5em;
                padding-left: .9375em;
            }

        /*Top Nav*/
        
            #top_nav_desktop {
                position: absolute;
                right: 0px;
                top: 0px;
                font-size: .625rem;
                text-transform: uppercase;
                padding: .75em 0px;
            }

            #text_nav_desktop strong {
                font-weight: 800;
            }

            #top_nav_desktop ul {
                margin: 0px 0px 0px .5rem;
                padding: 0px;
            }

            #top_nav_desktop li {
                padding-right: 10px;
            }

            #margin_fix {
                margin-right: 2em;
            }

            .border_fix {
                border-right: 1px solid;
                border-color: var(--color_white);
                margin-right: 10px;
            }

        /*Bottom Nav*/

            #bottom_nav_desktop {
                background-color: var(--color_garnet);
                font-weight: 800;
                line-height: 1.4;
                text-align: center;
                text-transform: uppercase;
                padding: 0px .9375em 0px .9375em
            }

            #color_fix {
                background-color: var(--color_dark_garnet);
            }

            #bottom_nav_desktop ul {
                display: flex;
                font-size: 1.25em;
                padding-left: 0;
                justify-content: space-evenly;
            }

            #bottom_nav_desktop a {
                padding: .5em 14px;
                display: inline-block;
                letter-spacing: .5px;
                font-stretch: condensed;
                text-wrap: nowrap;
            }

    /*Main Content*/

        /*Content One*/

            #content_one {
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;
            }

            #content_one h1 {
                background-color: var(--color_garnet);
                color: var(--color_white);
                display: inline-block;
                margin-top: -3rem;
                margin-bottom: .5rem;
                margin-left: -20%;
                padding: 10px .5rem;
            }

        /*Content Two*/

            #content_two {
                display: flex;
                padding-bottom: 0px;
            }    

            #content_two img {
                padding: 0px;
                height: 480px;
                width: auto;
            }

            #content_two div {
                margin-left: 5%;
                margin-right: 5%;
            }

            #content_two h2 {
                margin-top: 4em;
                font-size: 1.8em;
                margin-bottom: 1em;
                line-height: 1.2;
            }

            #content_two p {
                margin-bottom: 10%;
            }

        /*Content Three*/

            #content_three {
                padding-bottom: 5%; 
            }

        /*Content Four??? no changes*/

        /*Content Five*/

            #content_five ul {
                display: flex;
                gap: 2em;
            }

            #content_five li {
                flex: 1;
                padding-bottom: 0px;
            }

        /*Content Six*/

            #content_six {
                display: flex;
                padding-bottom: 0px;
                margin-bottom: 0px;
            }

            #content_six img {
                height: 410px;
                width: 319px;
                top: 0px;
                bottom: 0px;
                margin-top: -2em;
                padding-right: 2em;
            }

            #content_six div {
                margin-left: 5%;
                margin-right: 5%;
            }

            #content_six h2 {
                margin-top: 2em;
                font-size: 2.5em;
                margin-bottom: 1em;
                line-height: 1.2;
            }

        /*Footer*/

            footer {
                padding-top: 3%;
            }

            /*Logos and links*/

                #bottom_usc_logo img, #social_links {
                    display: inline-flex;
                    padding: 0px;
                    margin: 0px;
                }

                #bottom_usc_logo img {
                    height: 60px;
                    width: 300px;
                    float: left;
                    padding-left: .9375em;
                    padding-bottom: 3%;
                }
                #social_links {
                    float: right;
                    margin-top: 2%;
                    margin-right: 4%;
                }

            /*Main Footer*/

                #footer_main {
                    margin-top: 115px;
                    gap: 2em;
                    display: flex;
                    
                }

                #footer_main div {
                    display: inline-block;
                    flex: 1;
                    
                }

                .footer_main_c {
                    order: 3;
                }

                #footer_main_one, #footer_main_two, #footer_main_three {
                    display: flex;
                    flex-wrap: nowrap;
                    
                }

            /*Sub Footer*/

                #footer_sub {
                    padding: 1%;
                    display: block;
                    
                }

    }
